.nav .logo{
    padding:2px 30px;
    margin-left:20px;
}
.nav .logo img{
    margin: 20px;
    height:30px;
    
}
.nav{
    background-color: rgb(26, 26, 26);
    /* padding-top: 20px; */
}
.nav .menu{
    margin: 20px 0px;
    
    
}
.nav  a{
    color:white;
    font-family: 'Raleway' ; 
    padding:30px 10px;
    margin:20px 0px;
    font-size: 15px;
    transition: font-size 1s; 

}
.nav a:hover{
    text-decoration:none;
    color:white;
    font-size: 18px;
}

.nav button{
    padding:10px;
    color:white;
    float: right;
    background-color: #51d0de;
    border-radius: 0px;
    margin:10px 10px;
    transition: background-color 1s, color 1s;    
}
.nav button:hover{
    background-color: #bf4aa8;
    color:black;
    
}
.main{
    background-color: #151515;
}
.main .row{
    padding:0px 140px;
}
.main .col-md-6{
    background-color: rgb(238, 235, 235);
    margin:50px auto;
    padding:30px;
    padding-bottom:100px;
}
.main .col-md-6 h1{
    font-size:14px;
    background-color: #353535;
    color:white;
    padding:5px;
    padding-right:80px;
}
.main .col-md-6 input{
    padding:10px 230px 10px 30px;
    margin:10px auto;
}
.main button{
    background-color: #51d0de;
    border-radius: 0px;
    display: block;
    padding:10px 58px;
    margin:20px auto;
    color:white;
}
.main .tel{
    padding:10px;
    background-color:white;
}
footer{
    background: #353535;
    color:gray;
    font-size:9px;
    padding:20px;
}

/* Create Account Page */

.main-create{
    background-color: #151515;
}
.main-create .row{
    padding:20px 200px;
}
.main-create .col-md-12{
    background-color: rgb(238, 235, 235);
    /* margin:10px auto; */
    padding:30px 0px;
    /* padding-bottom:100px; */
}
.main-create .row .col-md-12 .row{
    padding: 20px 80px;
}
.main-create .col-md-6{
    padding:0px;
}
.main-create{
    /* float:left; */
}
.main-create .col-md-6 h1{
    font-size:14px;
    background-color: #353535;
    color:white;
    padding:5px;
    padding-right:100px;
}
.main-create .col-md-6 input{
    padding: 3px 30px;
    margin: 03px 3px;
    font-size: 10px;
    
}
.main-create button{
    background-color: #51d0de;
    border-radius: 0px;
    display: block;
    /* padding:10px 58px; */
    margin:20px auto;
    color:white;
}
.main-create .tel{
    padding-bottom:10px;
    background-color:white;
    
}
.main-create .tel2{
    margin:10px 0px 10px 10px;
    padding-bottom:10px;
    background-color:white;
    font-size:10px;
}
.main-create .col-md-6 img{
    height:155px;
    padding:10px;
}

/* Model Page Css */
.model, .slider{
    background-color: #151515;

}
.carousel-control-next {
    filter: invert(100%);
}
.carousel-control-prev {
    filter: invert(100%);
}
.carousel-indicators{
    filter: invert(100%);
} 

.model img{
    height: 500px;
    padding:10px;
}
.model h1{
    font-size: 20px;
    color:white;

}
.model p{
    color:white;
    font-size: 12px;
    margin-right:25px;
    text-align: justify;
    /* padding:20px; */
}
.model .row{
    padding:20px;    
}

.model .col-4{
    color:#51d0de;
    padding: 10px 0px;
    font-size: 12px;

}

.slider h1{
    font-size: 20px;    
    color:white;
    padding:30px;
}
.model-fill{
    background-color: #151515;
    padding:500px;
}
/* Home page */

.main-img, .main-home, .main-model, .model-city{
    background-color: #151515;
    margin:0px;
}
.main-home h1{
    margin:0px;
}
.main-img img{
    height: 255px;
    margin:5px;
    transition: height 1s;
}
.main-img img:hover{
    height: 260px;
    padding:5px;
}

.main-model img{
    height:310px;
    padding:5px; 
    transition: height 1s;  
}
.main-model img:hover{
    height:305px;
    padding:10px;
}

.model-city img{
    height:390px;
    padding:5px;
    transition:height 1s;
}
.model-city img:hover{
    height:370px;
    padding:10px;
}
.model-new{
    background-color:#151515;

}
.model-new img{
    height: 390px;
    padding:5px;
    transition:height 1s;
}
.model-new img:hover{
    height:370px;
    padding:10px;
}
.model-ads{
    background-color: #151515;
}
.model-ads .row{
    /* margin:0px auto; */
    display: block;
    padding: 60px 330px;
}
.model-ads img{
    height:100px;
    display: inline-block;
    padding:10px;
}
.main-home h1{
    text-align: center;
    font-size:20px;
    color:#a9a9a9;
    
    padding: 20px;
    font-family: 'Raleway'

    
}
.main-home p{
    text-align: center;
    color:#a9a9a9;
    
}
.main-home select{
    background-color:black;
    color:white;
    padding:6px;
    font-size: 12px;
    /* margin:0px auto; */
}
.main-home .opt{
    margin:0px 540px;
    
}
.model-city p{
    float: right;
    color:white;
    display: block;
    border:1px solid white;
    padding:5px;
    margin:5px;
}
.model-city select{
    background-color: black;
    color:white;
    padding:5px;
    margin:10px;
    font-size: 15px;
}
.model-city .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
.model-city .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
 .model-city .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.model-city .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.model-city input:checked + .slider {
    background-color: green;
  }
  
.model-city input:focus + .slider {
    box-shadow: 0 0 1px green;
  }
  
.model-city input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
.model-city .slider.round {
    border-radius: 34px;
  }
  
.model-city .slider.round:before {
    border-radius: 50%;
  }
 .model-city button{
      border-radius:0px;
      padding:10px 50px;
      margin:50px auto;
      display: block;
      background-color: #51d0de;
  }
.model-city p{
    float:center;
    display: block;
}
  